@charset "UTF-8";
:root {
  --color-blue: #2196F3;
  --background-color: #F5F4FA;
  --text-color-header: #212121;
  --color: #FFFFFF;
  --nav-link-color: #2196F3;
  --logo-colors: #000000 ##2196F3;
  --description-list: #757575;
  --color-decoration: #2F303A;
  --color-button: #188CE8;
  --transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --font-family: "Roboto", sans-serif;
  --trans-fust: cubic-bezier(0.4, 0, 0.2, 1);
}

.main {
  background: #FFFFFF;
  font-family: "Roboto", sans-serif;
}

.body {
  font-family: "Roboto", sans-serif;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.page-header-conteiner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conteiner-personnel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.main-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 94px;
}

.conteiner-footer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.cards-conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.footer-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
}
@media screen and (min-width: 480px) {
  .footer-conteiner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 60px 165px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .footer-conteiner {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer-conteiner {
    gap: 0;
  }
}

.join-footer-conteiner {
  margin-left: 0;
}
@media screen and (min-width: 1200px) {
  .join-footer-conteiner {
    margin-left: auto;
    margin-right: auto;
  }
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #757575;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.24px;
}
.contact:hover, .contact:focus {
  color: #2196F3;
}
.contact:hover .email, .contact:focus .email {
  fill: #2196F3;
}
.contact:hover .telephone, .contact:focus .telephone {
  fill: #2196F3;
}

.navigation-contact__contact-number-header:hover .telephone {
  fill: #2196F3;
}

.telephone {
  width: 10px;
  height: 15.995px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email,
.telephone {
  margin-right: 10px;
  fill: #757575;
}

.navigation-contact__contact-number-header {
  font-size: 14px;
  color: var(--description-list);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1200px) {
  .navigation-contact__contact-number-header {
    font-size: 12px;
  }
}

.navigation-contact__mail-header {
  text-decoration: none;
  font-style: none;
  color: var(--description-list);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  line-height: 1.1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1200px) {
  .navigation-contact__mail-header {
    font-size: 12px;
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .navigation-contact__mail-header {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .navigation-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
}

.email {
  width: 16px;
  height: 11.996px;
  padding: 0;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 480px) {
  .navigation {
    padding: 16px 0;
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .navigation {
    display: block;
    padding: 16px 0;
  }
}

.navigation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navigation__link:hover {
  color: var(--color-blue);
}

.page-header {
  border-bottom: 1px solid #ECECEC;
  font-family: var(--font-family);
}

.navigation__link-header {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  font-weight: 500;
}

.navigation__main-link {
  color: var(--color-blue);
  text-decoration: none;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.navigation__main-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 4px;
  margin-bottom: -1px;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 315px;
}
@media screen and (max-width: 480px) {
  .header-navigation {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .header-navigation {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-navigation {
    gap: 94px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .header-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 315px;
  }
}

.navigation__logo-link-header {
  color: var(--text-color-header);
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.78px;
  margin-right: 92px;
}
@media screen and (min-width: 480px) {
  .navigation__logo-link-header {
    font-size: 24px;
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .navigation__logo-link-header {
    margin-right: 0;
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) {
  .navigation__logo-link-header {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__logo-link-header {
    margin-right: 93px;
  }
}

.colortext {
  color: var(--color-blue);
}

.navigation__list {
  position: relative;
  margin: 0;
}
.navigation__list:not(:last-child) {
  margin-right: 50px;
}
.navigation__list .nav-button-portfolio {
  color: #212121;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.navigation__link {
  color: #212121;
}

.navigation_link-header {
  font-size: 14px;
}

.heros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  margin: 0 auto;
}
@media screen and (max-width: 479px) {
  .heros {
    height: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 100px 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/2-mobile-img.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/2-mobile-img.jpg);
  }
}
@media screen and (max-width: 479px) and (min-device-pixel-ratio: 2), screen and (max-width: 479px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 479px) and (min-resolution: 192dpi), screen and (max-width: 479px) and (min-resolution: 2dppx) {
  .heros {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/2-mobile-img@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/2-mobile-img@2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .heros {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/2-mobile-img.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/2-mobile-img.jpg);
    padding: 118px 0;
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .heros {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/2-mobile-img@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/2-mobile-img@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .heros {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/3-tablet-img.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/3-tablet-img.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .heros {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/3-tablet-img@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/3-tablet-img@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .heros {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/1-desctop-img.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/1-desctop-img.jpg);
    padding: 200px 0;
    max-width: 1600px;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: center;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .heros {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/1-desctop-img@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/1-desctop-img@2x.jpg);
  }
}

.introduction__text-table {
  color: var(--color);
  font-weight: 900;
  line-height: 1.3;
  letter-spacing: 2.64px;
  text-align: center;
}
@media screen and (max-width: 479px) {
  .introduction__text-table {
    font-size: 20px;
  }
}
@media screen and (min-width: 480px) {
  .introduction__text-table {
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 1.56px;
    text-transform: uppercase;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .introduction__text-table {
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .introduction__text-table {
    padding-top: 0;
    font-size: 44px;
    letter-spacing: 2.64px;
  }
}

.introduction {
  padding: 0;
}

.introduction__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color);
  border-radius: 4px;
  border: none;
  background-color: var(--color-blue);
  text-align: center;
  padding: 10px 32px;
  margin-top: 30px;
}
.introduction__button:active {
  background-color: var(--color-button);
  color: var(--color);
}
@media screen and (min-width: 480px) {
  .introduction__button {
    padding: 10px 24px;
  }
}
@media screen and (min-width: 768px) {
  .introduction__button {
    padding: 10px 32px;
  }
}

.feateres__description {
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .feateres__description {
    text-align: center;
  }
}
@media screen and (min-width: 480px) {
  .feateres__description {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .feateres__description {
    text-align: start;
  }
}

.feateres__description-groups {
  color: #757575;
  margin-top: 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.feateres__features-block {
  height: 120px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 4px;
}
.feateres {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .feateres {
    padding: 94px 0;
  }
}

.feateres__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.feateres__list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 480px) {
  .feateres__list-link {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .feateres__list-link {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .feateres__list-link {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feateres__list-link {
    width: 270px;
  }
}

.type-work-sections__main-foto:not(:last-child) {
  margin-right: 30px;
}

.type-work-sections__description-picture {
  position: relative;
  width: 370px;
}

.type-work-sections__foto {
  width: 370px;
  height: 294px;
}

.types-work__activites {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-header);
  margin-top: 0;
  margin-bottom: 50px;
}

.type-work-sections__description-text {
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.types-work {
  padding-bottom: 94px;
}
@media screen and (max-width: 1200px) {
  .types-work {
    display: none;
  }
}

.type-work-sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.personnel-table__human-information {
  background-color: #FFFFFF;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 480px) {
  .personnel-table__human-information {
    width: 100%;
  }
}

.personnel-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 133.3333333333%;
      flex-basis: 133.3333333333%;
  gap: 30px;
}

@media screen and (max-width: 480px) {
  .personnel-table__personnel-foto {
    width: 100%;
  }
}

.team {
  background-color: var(--background-color);
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}

.team__personnel {
  color: #212121;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.84px;
  text-align: center;
  font-style: normal;
  line-height: normal;
  margin-bottom: 30px;
  margin-top: 0;
}
@media screen and (min-width: 1200px) {
  .team__personnel {
    font-size: 36px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 480px) {
  .personnel-table__personnel-item {
    padding: 30px 0 24px 0;
  }
}
@media screen and (min-width: 480px) {
  .personnel-table__personnel-item {
    padding: 30px 122px 24px 122px;
  }
}
@media screen and (min-width: 768px) {
  .personnel-table__personnel-item {
    padding: 30px 74px 24px 74px;
  }
}
@media screen and (min-width: 1200px) {
  .personnel-table__personnel-item {
    padding: 30px 32px;
  }
}

.personnel-table__name {
  margin-bottom: 10px;
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.personnel-table__social-link-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 16px;
}
@media screen and (max-width: 480px) {
  .personnel-table__social-link-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.personnel-table__social-link-icon {
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.personnel-table__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.personnel-table__link:hover, .personnel-table__link:focus {
  background-color: #2196F3;
}
.personnel-table__link:hover .social-link-icon, .personnel-table__link:focus .social-link-icon {
  fill: #FFFFFF;
}
.personnel-table__link:hover .personnel-table__social-link-icon, .personnel-table__link:focus .personnel-table__social-link-icon {
  fill: #FFFFFF;
}

.personnel-table__work {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--description-list);
  text-align: center;
}

.regular-customer__icon {
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customer__link {
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-customer__link:hover .regular-customer__icon, .regular-customer__link:focus .regular-customer__icon {
  fill: #2196F3;
}
.regular-customer__link:hover, .regular-customer__link:focus {
  border-color: #2196F3;
}

.customers {
  color: #212121;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.84px;
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .customers {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.regulars-customers {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .regulars-customers {
    padding: 94px 0;
  }
}

h2 {
  margin: 0;
}

.regular-customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

@media screen and (max-width: 480px) {
  .regular-customer__list {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .regular-customer__list {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .regular-customer__list {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .regular-customer__list {
    width: 170px;
  }
}

.logo-link-footer {
  color: var(--color);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.78px;
  font-family: "Raleway", sans-serif;
}
@media screen and (min-width: 480px) {
  .logo-link-footer {
    font-size: 24px;
    letter-spacing: 0.72px;
  }
}

@media screen and (max-width: 1200px) {
  .footer-block {
    text-align: center;
  }
}

.navigation-footer__social-item-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  margin-top: 28px;
}
@media screen and (min-width: 1200px) {
  .navigation-footer__social-item-footer {
    gap: 9px;
  }
}

.navigation-footer__address-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--color);
  line-height: 1.7;
  margin-bottom: 12px;
}

.navigation-footer__mail {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-footer__mail:hover, .navigation-footer__mail:focus {
  color: #2196F3;
}

.mail {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail:hover, .mail:focus {
  color: #2196F3;
}

.contact-number {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.7;
}
.contact-number:hover, .contact-number:focus {
  color: #2196F3;
}

.navigation-footer__contact-number {
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.7;
}
.navigation-footer__contact-number:hover, .navigation-footer__contact-number:focus {
  color: #2196F3;
}

.subscribe-group-footer__input-footer {
  color: #FFFFFF;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
@media screen and (max-width: 480px) {
  .subscribe-group-footer__input-footer {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .subscribe-group-footer__input-footer {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-group-footer__input-footer {
    width: 358px;
  }
}

.subscribe-group-footer__subscribe-footer {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .subscribe-group-footer__subscribe-footer {
    text-align: center;
  }
}

.subscribe-group-footer__btn-main-footer {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  border: none;
  position: relative;
  width: 200px;
  padding: 10px 62px 10px 28px;
  border-radius: 4px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.send-icon {
  fill: #FFF;
  position: absolute;
  top: 13px;
  left: 144px;
}

.form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .form-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}
@media screen and (min-width: 480px) {
  .form-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  .form-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .form-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 12px;
  }
}

.join-footer-conteiner__join {
  color: #FFF;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 15px;
}
@media screen and (max-width: 1200px) {
  .join-footer-conteiner__join {
    text-align: center;
    margin-top: 0;
  }
}

.join-footer-conteiner__social-item-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.join-footer-conteiner__social-item-footer :not(:last-child) {
  margin-right: 10px;
}

.join-footer-conteiner__link-footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-footer-conteiner__link-footer:hover, .join-footer-conteiner__link-footer:focus {
  background-color: #2196F3;
}

.footer {
  background-color: var(--color-decoration);
  padding-top: 60px;
  padding-bottom: 60px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  z-index: 3;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.backdrop .modal {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.close-icon {
  width: 18px;
  height: 18px;
}

.modal {
  width: 94%;
  max-height: 609px;
  padding: 40px;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-height: 588px;
    width: 528px;
  }
}

.close-btn:hover,
.close-btn:focus {
  fill: #2196F3;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  width: 30px;
  height: 30px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.text-modal {
  display: block;
  margin-bottom: 12px;
}

.colortext-modal {
  color: #2196F3;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}
@media screen and (max-width: 1200px) {
  .colortext-modal {
    font-size: 12px;
  }
}

.modal {
  z-index: 5;
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  border-radius: 4px;
  border: none;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 52px;
}
@media screen and (max-width: 479px) {
  .btn {
    padding: 5px 30px;
  }
}

.form-input:hover,
.form-input:focus {
  border-color: #2196F3;
  fill: #1a86de;
}

.form-input:hover ~ .form-icon,
.form-input:focus ~ .form-icon {
  fill: #2196F3;
}

.form-group {
  position: relative;
  display: block;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: absolute;
  bottom: 12px;
  left: 12px;
  display: block;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.comment:hover,
.comment:focus {
  border-color: #2196F3;
}

.comment {
  resize: none;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .comment {
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .comment {
    height: 120px;
  }
}
@media screen and (max-width: 479px) {
  .comment {
    height: 30px;
    padding: 7px 10px;
  }
}

.textarea {
  display: block;
  resize: none;
}

.form-title {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .form-title {
    line-height: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .form-title {
    line-height: 30px;
  }
}

.form-label-police {
  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
@media screen and (max-width: 1200px) {
  .form-label-police {
    color: #757575;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
  }
}

.form-label {
  color: #757575;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  display: block;
  margin-bottom: 4px;
  margin-top: 10px;
}

.form-input {
  width: 100%;
  padding: 11px 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-police {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 30px 0;
}
@media screen and (max-width: 479px) {
  .form-police {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.chek_input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.chek_input:focus + .custom-checkbox {
  outline: 2px solid #2196F3;
}

.checkbox:checked + .custom-checkbox {
  background-color: #2196F3;
  outline: 2px solid #2196F3;
}

.checkbox:checked + .custom-checkbox .custom-checkbox-svg {
  opacity: 1;
}

.custom-checkbox-svg {
  opacity: 0;
  fill: #FFFFFF;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-checkbox {
  width: 16px;
  height: 15px;
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
  outline: 2px solid #212121;
  border-radius: 2px;
  outline-offset: -2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 48px 40px;
  z-index: 2;
}
.mobile-menu.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-menu__nav {
  display: block;
}

.mobile-menu__nav-link {
  color: #212121;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
}

@media screen and (max-width: 479px) {
  .link-mobile {
    font-size: 27px;
  }
}

.mobile-menu__nav-main-link {
  color: #2196F3;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
}
@media screen and (max-width: 479px) {
  .mobile-menu__nav-main-link {
    font-size: 27px;
  }
}

.mobile-menu__main-link {
  color: #2196F3;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.68px;
}
@media screen and (max-width: 479px) {
  .mobile-menu__main-link {
    font-size: 27px;
  }
}

.mobile-menu__contacts {
  margin-top: auto;
  margin-bottom: 64px;
}
@media screen and (max-width: 480px) {
  .mobile-menu__contacts {
    margin-bottom: 30px;
  }
}

.mobile-menu__contact-link {
  color: #757575;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.mobile-menu__contact-list:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.mobile-menu__social-link {
  color: #2196F3;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.36px;
  padding-right: 10px;
}
@media screen and (max-width: 479px) {
  .mobile-menu__social-link {
    font-size: 9px;
  }
}

.mobile-menu__social-list:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__main-list {
  margin-bottom: 35px;
}
@media screen and (max-width: 480px) {
  .mobile-menu__main-list {
    margin-bottom: 15px;
  }
}

.mobile-menu__list:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (max-width: 480px) {
  .mobile-menu__list:not(:last-child) {
    margin-bottom: 15px;
  }
}

.button {
  position: absolute;
  top: 10px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  fill: #2196F3;
}
.button .close {
  display: block;
  z-index: 3;
}
.button .close-icon {
  display: none;
}
@media screen and (min-width: 768px) {
  .button {
    display: none;
  }
}

.button.is-open .close-icon {
  display: block;
}
.button.is-open .icon-menu {
  display: none;
}

.link-mobile {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-mobile:hover, .link-mobile:focus {
  color: #2196F3;
}

.btn-prtf {
  background-color: var(--background-color);
  color: var(--text-color-header);
  border: none;
  letter-spacing: 0.48px;
  line-height: 1.6;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  padding: 6px 26px;
}

.main-list {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .main-list {
    padding: 94px 0;
  }
}

.main-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .main-button {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 15px 8px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .main-button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 1200px) {
  .main-button {
    margin-bottom: 30px;
  }
}

.buttons-list {
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons:not(:last-child) {
  margin-right: 8px;
}
@media screen and (max-width: 768px) {
  .buttons:not(:last-child) {
    margin-right: 0;
  }
}

.btn-prtf:hover, .btn-prtf:focus {
  color: var(--background-color);
  background-color: var(--color-blue);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.btn-prtf:active {
  background-color: var(--color-button);
  color: var(--color);
}

.description-cards {
  padding: 20px 24px 20px 24px;
  border-bottom: 1px solid #ECECEC;
  border-left: 1px solid #ECECEC;
  border-right: 1px solid #ECECEC;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.table-of-project {
  letter-spacing: 0.6px;
  line-height: 36px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  text-align: start;
  font-style: normal;
  margin-bottom: 4px;
  color: #212121;
}

.description-of-project {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--description-list);
  text-decoration: none;
  text-align: start;
}

.portfolio-list {
  margin-top: -30px;
  margin-left: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-cards {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 0;
  padding-right: 0;
}

.cards {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 370px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.cards:hover .text-description, .cards:focus .text-description {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards:hover, .cards:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 480px) {
  .cards {
    width: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .cards {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .cards {
    width: 354px;
  }
}

.actions {
  max-height: 294px;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 480px) {
  .peacture {
    max-width: 100%;
  }
}

.text-description {
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  position: absolute;
  display: block;
  opacity: 0;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 479px) {
  .text-description {
    padding: 77px 24px;
  }
}
@media screen and (max-width: 375px) {
  .text-description {
    padding: 10px 24px;
    line-height: 25px;
  }
}
@media screen and (min-width: 480px) {
  .text-description {
    padding: 77px 24px;
  }
}
@media screen and (min-width: 768px) {
  .text-description {
    padding: 49px 24px 77px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .text-description {
    padding: 63px 24px;
  }
}

.mail {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail:hover, .mail:focus {
  color: #2196F3;
}

.contact-number {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.7;
}
.contact-number:hover, .contact-number:focus {
  color: #2196F3;
}/*# sourceMappingURL=main.css.map */