:root {
    --color-blue: #2196F3;
    --background-color: #F5F4FA;
    --text-color-header: #212121;
    --color: #FFFFFF;
    --nav-link-color: #2196F3;
    --logo-colors: #000000 ##2196F3;
    --description-list: #757575;
    --color-decoration: #2F303A;
    --color-button: #188CE8;
    --transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --font-family: 'Roboto', sans-serif;
    --trans-fust: cubic-bezier(0.4, 0, 0.2, 1);
}