.portfolio-list {
    margin-top: -30px;
    margin-left: -30px;
    display: flex;
    flex-wrap: wrap;
}

.portfolio-cards {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 0;
    padding-right: 0;
}

.cards {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 370px;
    height: 100%;
    display: flex;
    flex-direction: column;
    

    &:hover .text-description,
    &:focus .text-description {
        opacity: 1;
        transform: translateY(0);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover,
    &:focus {
        box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
            0px 4px 4px 0px rgba(0, 0, 0, 0.06),
            0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }

    @media screen and (max-width:480px) {
        width: 100%;
    }

    @media screen and (min-width:480px) and (max-width:768px) {
        width: 450px;
    }

    @media screen and (min-width:768px) and (max-width:1200px) {
        width: 354px;
    }

}

.actions {
    max-height: 294px;
    position: relative;
    overflow: hidden;
}

.peacture {
    @media screen and (max-width:480px) {
        max-width: 100%;
    }
}

.text-description {
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.90);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
    position: absolute;
    display: block;
    opacity: 0;
    transform: translateY(150%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 479px) {
        padding: 77px 24px;
    }

    @media screen and (max-width: 375px) {
        padding: 10px 24px;
        line-height: 25px;
    }

    @media screen and (min-width:480px) {
        padding: 77px 24px;
    }

    @media screen and (min-width:768px) {
        padding: 49px 24px 77px 24px;
    }

    @media screen and (min-width:1200px) {
        padding: 63px 24px;
    }

}