.description-cards {
    padding: 20px 24px 20px 24px;
    border-bottom: 1px solid #ECECEC;
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
    flex-grow: 1;
}

.table-of-project {
    letter-spacing: .6px;
    line-height: 36px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    text-align: start;
    font-style: normal;
    margin-bottom: 4px;
    color: #212121;
}

.description-of-project {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--description-list);
    text-decoration: none;
    text-align: start;
}