.logo-link-footer {
    color: var(--color);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.78px;
    font-family: 'Raleway', sans-serif;

    @media screen and (min-width:480px) {
        font-size: 24px;
        letter-spacing: 0.72px;
    }
}

.footer-block {
    @media screen and (max-width:1200px) {
        text-align: center;
    }
}

.navigation-footer__social-item-footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 28px;

    @media screen and (min-width:1200px) {
        gap: 9px;
    }
}


.navigation-footer__address-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--color);
    line-height: 1.7;
    margin-bottom: 12px;
}

.navigation-footer__mail {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.7;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: #2196F3;
    }
}

.mail {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.7;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: #2196F3;
    }
}

.contact-number {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1.7;

    &:hover,
    &:focus {
        color: #2196F3;
    }
}

.navigation-footer__contact-number {
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1.7;

    &:hover,
    &:focus {
        color: #2196F3;
    }
}