.subscribe-group-footer__input-footer {
    color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;



    @media screen and (max-width:480px) {
        width: 100%;
    }

    @media screen and (min-width:480px) {
        width: 450px;
    }

    @media screen and (min-width:1200px) {
        width: 358px;
    }

}

// .subscribe-group-footer {
// }

.subscribe-group-footer__subscribe-footer {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;

    @media screen and (max-width:1200px) {
        text-align: center;
    }
}

.subscribe-group-footer__btn-main-footer {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    border: none;

    position: relative;


    width: 200px;
    padding: 10px 62px 10px 28px;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}


.send-icon {
    fill: #FFF;
    position: absolute;
    top: 13px;
    left: 144px;
}

.form-footer {
    display: flex;

    @media screen and (max-width:480px) {
        flex-direction: column;
        gap: 20px;
    }

    @media screen and (min-width:480px) {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    @media screen and (min-width:768px) {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    @media screen and (min-width:1200px) {
        flex-direction: row;
        gap: 12px;
    }
}