.navigation {
    align-items: center;

    @media screen and (min-width:480px) {
        padding: 16px 0;
        display: block;
    }

    @media screen and (max-width:480px) {
        display: block;
        padding: 16px 0;
    }
}

.navigation__item {
    display: flex;
    flex-direction: row;
}

.navigation__link {
    &:hover {
        color: var(--color-blue);
    }
}

.page-header {
    border-bottom: 1px solid #ECECEC;
    font-family: var(--font-family);
}

.navigation__link-header {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 14px;
    font-weight: 500;
}

.navigation__main-link {
    color: var(--color-blue);
    text-decoration: none;
    line-height: 1.1;
    font-weight: 500;
    letter-spacing: 0.28px;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 4px;
        background-color: #2196F3;
        border-radius: 4px;
        margin-bottom: -1px;
    }
}

.header-navigation {
    display: flex;
    gap: 315px;

    @media screen and (max-width:480px) {
        display: none;
    }

    @media screen and (min-width:480px) {
        display: none;
    }

    @media screen and (min-width:768px) {
        gap: 94px;
        display: flex;
    }

    @media screen and (min-width:1200px) {
        display: flex;
        gap: 315px;
    }

}