.heros {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;

    margin: 0 auto;

    @media screen and (max-width:479px) {
        height: 380px;

        display: flex;
        justify-content: center;

        padding: 100px 0;

        background-image: linear-gradient(rgba(47, 48, 58, 0.40),
                rgba(47, 48, 58, 0.40)), url(../images/2-mobile-img.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.40),
                    rgba(47, 48, 58, 0.40)), url(../images/2-mobile-img@2x.jpg);
        }
    }

    @media screen and (min-width:480px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.40),
                rgba(47, 48, 58, 0.40)), url(../images/2-mobile-img.jpg);

        padding: 118px 0; 

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.40),
                    rgba(47, 48, 58, 0.40)), url(../images/2-mobile-img@2x.jpg);
        }
    }

    @media screen and (min-width:768px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.40),
                rgba(47, 48, 58, 0.40)), url(../images/3-tablet-img.jpg);



        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.40),
                    rgba(47, 48, 58, 0.40)), url(../images/3-tablet-img@2x.jpg);
        }
    }

    @media screen and (min-width:1200px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.40),
                rgba(47, 48, 58, 0.40)), url(../images/1-desctop-img.jpg);

        padding: 200px 0;
        max-width: 1600px;
        height: auto;

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-position: center;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.40),
                    rgba(47, 48, 58, 0.40)), url(../images/1-desctop-img@2x.jpg);
        }
    }



}

.introduction__text-table {
    color: var(--color);
    font-weight: 900;
    line-height: 1.3;
    letter-spacing: 2.64px;

    text-align: center;

    @media screen and (max-width:479px) {
        font-size: 20px;
    }

    @media screen and (min-width:480px) {
        font-size: 26px;
        font-style: normal;
        font-weight: 900;
        line-height: 42px;
        letter-spacing: 1.56px;
        text-transform: uppercase;
        margin: 0;
    }

    @media screen and (min-width:768px) {
        font-size: 26px;
    }

    @media screen and (min-width:1200px) {
        padding-top: 0;
        font-size: 44px;
        letter-spacing: 2.64px;
    }

}

.introduction {
    padding: 0;
}

.introduction__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--color);
    border-radius: 4px;
    border: none;
    background-color: var(--color-blue);
    text-align: center;
    padding: 10px 32px;
    margin-top: 30px;

    &:active {
        background-color: var(--color-button);
        color: var(--color);
    }

    @media screen and (min-width:480px) {
        padding: 10px 24px;
    }

    @media screen and (min-width:768px) {
        padding: 10px 32px;
    }
}