.navigation__logo-link-header {
    color: var(--text-color-header);
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.78px;
    margin-right: 92px;

    @media screen and (min-width:480px) {
        font-size: 24px;
        margin-right: 0;
    }

    @media screen and (max-width:480px) {
        margin-right: 0;
        font-size: 24px;
    }
    
    @media screen and (min-width:768px) {
        margin-right: 88px;
    }

    @media screen and (min-width:1200px) {
        margin-right: 93px;
    }
}

.colortext {
    color: var(--color-blue);
}