.personnel-table__human-information {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    @media screen and (max-width:480px) {
        width: 100%;
    }
}

.personnel-table {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% * 4) / 3);

    gap: 30px;
}

.personnel-table__personnel-foto {
    @media screen and (max-width:480px) {
        width: 100%;
    }
}