.conteiner {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width:480px) {
        width: 480px;
    }

    @media screen and (min-width:768px) {
        width: 768px;
    }
    // @media screen and (max-width:481px) {
    //     width: 450px;
    // }

    // @media screen and (min-width:480px) {
    //     width: 450px;
    // }

    // 768px
    // @media screen and (min-width:430px) {
        
    // // }
    // @include nw(tablet) {
    //     width: 450px;
    // }

    // @include nw(desktop) {
    //     width: 768px;
    // }

    // 480px 

    // 440px
    // @media screen and (max-width:479px) {
    //     max-width: 440px;
    // }
}

.page-header-conteiner {
    position: relative;
    display: flex;
    align-items: center;
}

.conteiner-personnel {
    display: flex;
    text-align: center;
}

.main-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 94px;
}

.conteiner-footer {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
}

.cards-conteiner {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footer-conteiner {
    display: flex;
    align-items: center;

    @include nw(desktop) {
        flex-wrap: wrap;
        justify-content: center;
        gap: 60px 165px;

        align-items: flex-start;
    }

    // @include mq(tablet) {
    //     gap: 60px 165px;
    //     flex-wrap: wrap;
    //     justify-content: center;
    //     max-width: 100%;
    // }

    // @include mq(mobile) {
    //     gap: 60px 165px;

    //     flex-wrap: wrap;
    //     justify-content: center;
    //     align-items: baseline;

    //     max-width: 100%;
    // }

    // @include mq(desctop) {
    //     gap: 0;
    // }
}

.join-footer-conteiner {
    margin-left: auto;

    @include nw(desktop) {
        margin-left: 0;
    }
}